.profile-container {
    height: 87vh;
    width: 87vw;
    background-color: #e9e8e84b;
    margin-top: 40px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(26, 26, 26, 0.747);
    backdrop-filter: blur(10px);
}

.profile-section, .preference-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 40%;
}

.edit-button, .action-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .edit-button button, .action-buttons button {
        background-color: #68BB69;
        color: black;
        border: 2px solid black;
        border-radius: 35px;
        padding: 20px 50px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        width: 30%;
    }

        .edit-button button:hover, .action-buttons button:hover {
            background-color: #62d748;
        }

        .action-buttons button.cancel {
            background-color: #272B2C;
            color: white;
            border: 2px solid black;
            border-radius: 35px;
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
        }

.dark-mode {
    background-color: #333;
    color: #fff;
}

    .dark-mode .container {
        border-color: #555;
    }

.edit-section {
    display: block;
    padding-left: 40px;
}

    .edit-section input, .dropdown {
        border-radius: 15px;
        border: 2px solid black;
        padding: 8px 10px;
        width: 100%;
        margin: 10px 0;
    }

.preference-section input[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

#new-password, #confirm-password {
    display: block;
}



@media (max-width: 900px) {
    .edit-button button, .action-buttons button,
    .action-buttons button.cancel {
        font-size: 12px; /* Smaller font size for smaller screens */
    }
}
