#set-amountCont {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
   
}

#set-amountCont.hide {
    opacity: 0;
    pointer-events: none;
}

#set-amountCont.show {
    opacity: 1;
    pointer-events: auto;
}

#set-amountCont .setAmount {
    height: 240px;
    width: 350px;
    background-color: #68BB69;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    z-index: 201;
    gap: 15px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
}

.setAmount input {
    margin-top: 10px;
}

#set-amountCont button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #272B2C;
    color: white;
}

.setAmount p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.budgetBtn {
    width: 100px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    background-color: #272B2C;
    color: white;
}

.budgetBtn:hover {  
    box-shadow: 1px 1px 1px black;
}

.budgetBtn:active {
    background-color: #5e6465;   
}

.budget-blur-bg {
    position: absolute;
    z-index: 1;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130vw;
    height: 140vh;
    backdrop-filter: blur(10px);
    display: block;
}

.digital-input {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 1.6rem;
    border: none;
    outline: none;
    width: 200px;
    text-align: left; 
    padding-left: 10px;
    background: none; 
    color: black;
    -moz-appearance: textfield;
}

    .digital-input::placeholder {
        color: black; 
    }

   
    .digital-input::-webkit-inner-spin-button,
    .digital-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.digital-input {
    -moz-appearance: textfield;
}

.balance-monthYear {
    position: absolute;
    top: -59px;
    left: 30px;  
}

.balance-monthYear select {
    width: 150px;
    padding: 8px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #72E25A;
    text-align: center;
}

#balance-success,
#balance-delete {
    position: absolute;
    z-index: 2001;
    height: 180px;
    width: 220px;
    border-radius: 10px;
    background-color: #68BB69;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#balance-success.hide,
#balance-delete.hide{
    opacity: 0;
    visibility: hidden;
}

#balance-success.show,
#balance-delete.show{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#balance-success button,
#balance-delete button{
    width: 100px;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

#balance-success button:hover,
#balance-delete button:hover{
    background-color: #d7e3d2
}

#balance-success button:active,
#balance-delete button:active {
    background-color: #7f7f7f
}

#blur-budget,
#blur-budget-del {
    position: absolute;
    z-index: 2000;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    display: block;
    opacity: 0;
    visibility: hidden;
}

#blur-budget.hide,
#blur-budget-del.hide{
    opacity: 0;
    visibility: hidden;
}

#blur-budget.show,
#blur-budget-del.show{
    opacity: 1;
    visibility: visible;
}

#budget-error {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 280px;
    height: 200px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 15px;    
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
}

#budget-error.hide {
    opacity: 0;
    visibility: hidden;
}

#budget-error.show {
    opacity: 1;
    visibility: visible;
}

#budget-error img {
    height: 50px;
    width: 50px;
    margin-top: 40px;
    border-radius: 100px;
    border:solid;
    border-width: 1px;
    border-color: red;
    background-color: red;
}

#budget-error h3 {
    margin-top: 20px;
    color: red;
    text-align: center;
}

#blur-error-budget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: 1999;
    opacity: 0;
    backdrop-filter: blur(3px);
    visibility: hidden;
}

#blur-error-budget.hide {
    opacity: 0;
    visibility: hidden;
}
#blur-error-budget.show {
    opacity: 1;
    visibility: visible;
}